@media (min-width: 365px) {
    .sidebar {
        padding-top: 15px;
    }
    .sidebar a {
        font-size: 18px;
    }
    .openbtn {
        max-height: 500px;
        display: none;
        float: right;
    }
    .btn-primary {
       
        max-height: 100px;
      }
      
  
  } 


  