/* header  */
.navbar {
  padding: 25px 0;
  background: #F1F3FF;
}

.navbar .navbar-nav .nav-link {
  padding-left: 32px;
  font-weight: 400;
}
 /* The sidebar menu */
 .sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  right: 0;
  background-color: white; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: black;
  display: block;
  transition: 0.3s;
  
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: black;
  font-size: 20px;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  color: black;
  padding: 10px 15px;
  border: 10px;


}

.openbtn:hover {
  background-color: transparent;
  

}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
.main {
  transition: margin-right .5s; /* If you want a transition effect */
  padding: 20px;
  
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
.btn-master,
.btn-primary {
  padding: 8px 12px 8px 12px;
  border-radius: 2px;
  border: 0;
  font-size: 14px;
  font-weight: 700;
}

.btn-primary {
  background: #5CB85F;
  color: #FFFFFF;
  max-width: 100px;
}

.btn-primary:hover {
  background: #3D7B3F;
}

.button-signup {
  margin-left: 32px;
}
/* end header  */
/* main section  */
.main-section {
    
    left: 0px;
    top: 0px;
    overflow: hidden;
    border-radius: 0px;
    background: #F1F3FF;
    margin-bottom: 75px;
    max-height: 700px;

}
.heroPadding{
    padding-left:6%;
}

.heroImg{
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    width: 90%;
    /* margin-top :166px; */
}
.ImgGirl{
  height: 400px;
  position: relative;
  min-width: 10px;
  right: 150px;
  
}

.girlImg{
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  width: 70%;
  min-width: 10px center;
  /* margin-top :166px; */
}
}


/* end main section  */
/* services */
ol,ul{
  padding-left: 0rem;
  
  
}
.listCentang ul { 
  /* Remove default list icon */
  list-style:  none;
  padding:  0;

 }

 .listCentang li{
 /* Make sure the text is properly wrpped (not spilling in the image area) */ 
     display: flex;
     margin-bottom:10px;

 }

/* end services */
/* why us  */

.why-us {
    padding-top: 35px;
    padding-bottom: 45px;
    margin-top: 10px;
    
}
.why-us.content{
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 8px;
    /* margin: auto; */
    padding-left: 10px;
    
}
.mg-b-0 {
    margin-bottom: 0;
}

.mg-b-35 {
    margin-bottom: 35px;
}
.green-4 {
  background-color: #5CB85F;
}


/* end why us  */
/* testimonial  */
.section-testi{
  margin-top: 85px;
  margin-bottom: 79px;
}
.owl-carousel {
    overflow: hidden;
  }
  
  .owl-carousel .owl-item img {
    width: auto;
  }
  
  .owl-nav {
    margin: 24px 0 0;
    text-align: center;
  }
  
  .owl-carousel .owl-nav button.owl-next,
  .owl-carousel .owl-nav button.owl-prev {
    margin: 0 11px;
    height: 32px;
    width: 32px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 50px;
  }
  
  .owl-carousel .owl-nav button.owl-next:hover,
  .owl-carousel .owl-nav button.owl-prev:hover {
    background: #5CB85F;
    border: none;
  }
  
  .bg-testimonial {
    overflow: hidden;
    position: relative;
    background-color: #F1F3FF;
    width: 100%;
    height: 270px;
    border-radius: 8px;
  }
  
  .img-testimonial {
    width: 80px;
    height: 80px;
  }
  
  .title {
    color: #fff;
    font-weight: 500;
    margin: 5px 0;
  }
  
  .star img {
    float: left;
    margin-bottom: 8px;
  }
  
  .desc-testi {
    position: relative;
    float: left;
    text-align: left;
    padding-right: 32px;
  }
  
  .desc-testi p {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 8px;
  }
  
  .user-testi {
    position: relative;
    float: left;
    text-align: left;
  }
  
  .user-testi p {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
  }
  
  .bg-biru {
    width: 100%;
    height: 326px;
    background: #0D28A6;
    border-radius: 13px;
  }
  
  .desc-sec-5 {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #FFFFFF;
    margin-top: 16px;
    margin-bottom: 52px;
  }
  
  .accordion .accordion-item {
    border: 1px solid rgba(0, 0, 0, 0.125) !important;
    border-radius: 4px !important;
    overflow: hidden;
  }
/* end testimonial  */
/* started section  */
.started{
    margin:0 auto;
    height: 326px;
}
.started-content{
    background: #0D28A6;
    border-radius: 13px;
    padding: 39px 90px;
}
.mar{
    margin: auto;
}
.started-content h1{
    color: black;
	  font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 150%;
}
.started-content p{
    color:white;
}
.started-content button{
	margin-top:35px;
}
.btn-green{
	padding:20px 45px;
	background: #5CB85F;
    border-radius: 2px;
	text-transform:capitalize;
	font-size:15px;
	font-weight:600;
	color:#fff;
				
}
/* end started section  */
/* asked question  */
.question {
  margin-top: 350px;

}
.accordion .accordion-item {
  border: 1px solid rgba(0, 0, 0, 0.125) !important;
  border-radius: 4px !important;
  overflow: hidden;
}
/* end asked question  */
/* footer  */
.footer{
  margin-top: 100px;
}
.linkFooter{
    display:block;
    text-decoration: none;
    color:black;
    font-weight: bold;
}
/* end footer  */